{% extends 'base.html' %}



{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Here's our story</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed libero urna. Cras et metus et nunc finibus molestie. Nullam in maximus nunc, vitae feugiat purus. Curabitur quis augue est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris et eros nulla. Curabitur in sollicitudin tortor, et posuere turpis. Etiam vulputate magna lectus, non ultricies lacus tincidunt non.
                <br/><br/>
                Mauris scelerisque gravida interdum. Praesent eros sem, eleifend sed bibendum et, vulputate quis libero. Donec pellentesque eros tempus nisl vestibulum, non varius dolor eleifend. Praesent placerat pharetra dolor ac eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis mollis lacus eu ante semper, vitae mollis lectus aliquet. Duis in neque sollicitudin, eleifend ex eu, viverra massa. Fusce efficitur sapien sed lacus aliquam, in ultrices justo vehicula. Suspendisse metus nisi, pellentesque ut libero vel, rhoncus placerat tortor. Donec ac tristique nisl.
                <br/><br/>  
                Integer aliquet lectus vel convallis eleifend. Fusce sed turpis a magna porttitor commodo vitae in augue. Morbi et enim nibh. Aenean ultrices pulvinar nunc eu vehicula. Aliquam nec dignissim nunc. Donec vulputate lorem nisl, eu lobortis magna auctor eget. Nullam eget porta sapien, eget malesuada dui. Aliquam dictum quam eu nisi tincidunt tempor. Suspendisse tincidunt risus ut urna facilisis luctus. Duis vitae posuere urna. Integer sed felis non nisi tempor pretium accumsan in arcu. Vivamus porta, lorem vitae hendrerit porttitor, lorem lacus vestibulum velit, sit amet posuere nulla erat vel elit. Nullam sit amet interdum urna, a tempus tortor. Curabitur malesuada urna rutrum sodales varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <br/><br/>
            </div>
        </center>

    </div>

</div>
{% endblock %}